/* global.css */
@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Italic styles */
@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

.custom-link,
.navItems svg path {
  @apply transition duration-500 ease-in-out stroke-text;
}

.custom-link:hover,
.navItems svg:hover path {
  @apply hover:text-primary stroke-primary;
}

.custom-link {
  @apply p-5 md:p-0;
}

.background {
  background-color: rgb(var(--mainTheme) / var(--opacityLevel));
}

.translate-y-full-64 {
  transform: translateY(calc(-100% + -64px));
}

.languages,
.themes,
.modes {
  @apply flex flex-col gap-1;
}

.languages > div,
.themes > div,
.modes > div {
  @apply w-[200px] bg-theme rounded-sm overflow-hidden flex;
}

.languages > div button,
.themes > div button,
.modes > div button {
  @apply w-full bg-theme/40 backdrop-blur-sm flex items-center justify-center py-2 gap-2;
}

.themes > div button div,
.modes > div button div {
  @apply w-[16px] h-[16px] border border-solid  box-border rounded-sm;
}

.minHeightWithNav {
  min-height: calc(100vh - 64px);
}

.glassy {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}
